.transaction-details {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reference-number {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.transaction-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.transaction-info {
  margin-bottom: 20px;
}

.transaction-data {
  margin-bottom: 10px;
}

.label {
  font-weight: bold;
  margin-right: 10px;
}
